<% provide(:title, 'Donate |') %>
<h1>Donate</h1>
<div class="row">
  <div class="col-md-4">
     <%= link_to (image_tag 'donate/general_donation.png', class: 'img img-responsive center-block'), '#' %>
  </div>
  <div class="col-md-4">
     <%= link_to (image_tag 'donate/hope_house.png', class: 'img img-responsive center-block'), '#' %>
  </div>
  <div class="col-md-4">
     <%= link_to (image_tag 'donate/next_steps.png', class: 'img img-responsive center-block'), '#' %>
  </div>
</div>
<br />
<div class="row center">
  <div class="col-md-6">
     <%= link_to (image_tag 'donate/sponsor_a_missionary.jpg', class: 'img img-responsive center-block'), '#' %>
  </div>
  <div class="col-md-6">
     <%= link_to (image_tag 'donate/tribal_outreach_and_retreat_center.png', class: 'img img-responsive center-block'), '#' %>
  </div>
</div>
